@mixin flex($al, $jus, $dir){
    display: flex;
    align-items: $al;
    justify-content: $jus;
    flex-direction: $dir;
}

@mixin bg-icon(){
    position: absolute;
    filter: blur(10px);
    height: 100%;
    width: 100%;
}